.login-label {
  /* font-weight: bold; */
  margin-bottom: 1rem;
  display: block;
  font-style: italic;
}

.login-input {
  border-radius: 8px;
  width: 27rem;
  max-width: 100%;
  background-color: transparent;
}

.login-input:active,
.login-input:focus {
  border-color: grey;
  box-shadow: none;
}

@media screen and (max-width: 480px) {
  .login-input {
    width: 16rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-label {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    font-style: italic;
    justify-content: center;
    align-items: center;
  }
}

.password-icon{
  position: absolute;
  margin-top: 1rem;
  right: 1rem;
  cursor: pointer;
}
