/* .image{
 display: flex;
 flex-direction: column;
 position: sticky;
 margin-top: -8rem;
} */

.search {
  margin-top: 80px;
  font-size: larger;
  font-family: cursive;
  font-weight: bolder;
  color: cadetblue;
  text-align: center;
}

.search-word {
  display: flex;
  justify-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  /* margin-top: 4rem; */
}

.submit-button-search {
  /* border-radius: 8px; */
  /* width: 14rem; */
  max-width: 100%;
  /* height: 3rem; */
  margin-bottom: 3rem;
  border: none;
  background: transparent;
  /* font-weight: 600;
  color: #ffff;
  background: #188fff;
  border: 1px solid #188fff; */
}

.search-icon {
  position: absolute;
  right: 0;
  margin-top: 1rem;
  padding-right: 2rem;
}


.searchWord {
  border-radius: 8px;
  width: 22rem;
  height: 5rem;
  max-width: 100%;
  background-color: transparent;
  color: rgb(121, 119, 119);
  font-family: cursive;
}

.enter-rhyming-words {
  font-size: 12px;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.rhyming-words {
  text-align: center;
  margin-top: 3rem;
  font-size: larger;
  font-family: cursive;
  font-weight: bolder;
  color: cadetblue;
}

.rhymingWord {
  border-radius: 8px;
  width: 16rem;
  height: 3rem;
  max-width: 100%;
  background-color: transparent;
  color: rgb(121, 119, 119);
  font-family: cursive;
  display: flex;
  align-items: center;
  margin-top: -1rem;
  font-weight: 90;
  font-size: 12pt;
}

.rhymingWord-search {
  border-radius: 8px;
  width: 22rem;
  max-width: 100%;
  background-color: transparent;
  color: rgb(121, 119, 119);
  font-family: cursive;
  display: flex;
  align-items: center;
  margin-top: -1rem;
  font-weight: 90;
  font-size: 12pt;
}

.rhymingWord-label {
  color: black;
  font-size: 14px;
  font-weight: 100;
  opacity: 80%;
}

.input-word {
  display: flex;
  justify-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.submit-button-rhyme {
  border-radius: 8px;
  margin-top: -1rem;
  width: 9rem;
  max-width: 100%;
  height: 2.7rem;
  margin-bottom: 3rem;
  font-weight: 300;
  color: #ffff;
  background: #188fff;
  border: 1px solid #188fff;
}

.addmore-button-rhyme {
  font-weight: 100;
  font-size: 12px;
  background: transparent;
  border: none;
  opacity: 50%;
}

.Home-WOTD {
  text-align: center;
  color: rgb(16, 63, 61);
  font-weight: 700;
  margin-top: 4rem;
  font-size: 16px;
}

.WOTD {
  text-align: center;
  font-size: 20pt;
  font-weight: 600;
  font-family: "Lora", serif;
  font-family: "Lora", serif;
  background-image: -webkit-linear-gradient(
    left,
    #f00,
    #ff2b00,
    #f50,
    #ff8000,
    #fa0,
    #ffd500,
    #ff0,
    #d4ff00,
    #af0,
    #80ff00,
    #5f0,
    #2bff00,
    #0f0,
    #00ff2a,
    #0f5,
    #00ff80,
    #0fa,
    #00ffd5,
    #0ff,
    #00d5ff,
    #0af,
    #0080ff,
    #05f,
    #002aff,
    #00f,
    #2b00ff,
    #50f,
    #8000ff,
    #a0f,
    #d400ff,
    #f0f,
    #ff00d4,
    #f0a,
    #ff0080,
    #f05,
    #ff002b,
    #f00
  );
  -webkit-animation: animatedBackground_a 5s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  background-clip: text;
}

@keyframes animatedBackground_a {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -500px 0;
  }
}

.before-submission {
  border: 1px solid rgb(29, 82, 64);
  border-radius: 10px;
}

.input-array {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 9px;
}

.remove-button {
  height: 1.5rem;
  display: contents;
  font-size: 1rem;
}
