#nav-title {
  font-family: cursive;
  font-style: Bolder;
  font-size: 30px;
  color: #241757;
}
#nav-title:hover {
  color: #5380ff;
}
.NavLink {
  font-family: Spartan;
  font-size: 20px;
  color: #241757;
}

.mb-0 {
  background: transparent;
}

#Home {
  font-family: Spartan;
  font-size: 21px;
  color: #241757;
}
#admin {
  font-family: Spartan;
  font-size: 21px;
  color: #241757;
}
#accept-or-reject {
  font-family: Spartan;
  font-size: 21px;
  color: #241757;
}
#logout {
  font-family: Spartan;
  font-size: 21px;
  color: #241757;
}
#add-words {
  font-family: Spartan;
  font-size: 21px;
  color: #241757;
}
#Home:hover {
  font-style: Bold;
  color: #5380ff;
}
#admin:hover {
  font-style: Bold;
  color: #5380ff;
}
#accept-or-reject:hover {
  font-style: Bold;
  color: #5380ff;
}
#logout:hover {
  font-style: Bold;
  color: #5380ff;
}
#add-words:hover {
  font-style: Bold;
  color: #5380ff;
}

@media screen and (max-width: 480px) {
  .nav-title-bl {
    font-family: cursive;
    font-size: 18px;
    padding-top: 4rem;
    color: #241757;
    font-weight: bold;
  }
}
