.add-button-as {
  border-radius: 8px;
  width: 6rem;
  max-width: 100%;
  font-weight: 600;
  height: 2rem;
  margin-top: 1rem;
  color: #fff;
  background: #188fff;
  border: 1px solid #188fff;
}

.word-search {
  /* margin-top: -10rem; */
  margin-bottom: 4rem;
  color: darkslategray;
}

.after-search {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}

.login-text-to-add {
  margin-top: 2rem;
}

.add-more-before-login-text {
  top: 20;
  text-decoration: none;
  color: black;
}

.add-more-before-login-text:hover {
  color: #188fff;
  cursor: pointer;
}

.add-more-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.search-field {
  margin-top: -9rem;
}

img {
  margin-top: -10rem;
  margin-bottom: 10rem;
}

.afterSearch-signup-button {
  border-radius: 10px;
  border: none;
  background-color: #188fff;
  color: white;
  padding: 0.5rem;
  width: 15rem;
  font-weight: 600;
}

.afterSearch-signup-button:hover {
  box-shadow: 5px 5px 5px lightblue;
}
