body {
    background-color: aliceblue;
  }
  
  main {
    display: flex;
    min-height: 78vh;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (min-width: 320px) and (max-width: 425px) {
    main {
      min-height: 75vh;
    }
  }

